fastapi
uvicorn[standard]
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters

langchain-postgres
psycopg[binary]
sqlalchemy
alembic
pypdf
cryptography>=3.1
tqdm

sentence-transformers

pytest
httpx
